<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.dao.StoreHouseMapper" >
  <resultMap id="storeHouseResultMap" type="cn.itcast.entity.StoreHouse" >
    <id column="sh_id" property="shId" jdbcType="VARCHAR" />
    <result column="sh_name" property="shName" jdbcType="VARCHAR" />
    <result column="sh_responsible" property="shResponsible" jdbcType="VARCHAR" />
    <result column="sh_phone" property="shPhone" jdbcType="VARCHAR" />
    <result column="sh_address" property="shAddress" jdbcType="VARCHAR" />
    <result column="sh_type" property="shType" jdbcType="VARCHAR" />
    <result column="sh_remark" property="shRemark" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectPageListUseDyc" parameterType="page"
		resultMap="storeHouseResultMap">
		select * from store_house
		<where>
			<if test="paramEntity.shName!=null">
				and sh_name like #{paramEntity.shName}
			</if>
			<if test="paramEntity.shAddress!=null">
				and sh_address like #{paramEntity.shAddress}
			</if>
		</where>
		limit #{start},#{rows}
	</select>
	<!-- 通过多条件分类查询，返回总记录数 -->
	<select id="selectPageCountUseDyc" parameterType="page" resultType="Integer">
		select count(1) from store_house 
		<where>
			<if test="paramEntity.shName!=null">
				and sh_name like #{paramEntity.shName}
			</if>
			<if test="paramEntity.shAddress!=null">
				and sh_address like #{paramEntity.shAddress}
			</if>
		</where>
	</select>
	<!-- 批量删除 -->
	<delete id="deleteList">
		delete from store_house where sh_id in
		<!-- 如果是数组是array 列表为list 开头 结尾 用什么符号分割 -->
		<foreach collection="array" open="(" close=")" separator=","
			item="pk">
			#{pk}
		</foreach>
	</delete>
	<!-- 根据主键修改信息 -->
	<update id="update" parameterType="storeHouse">
		update store_house set
		sh_phone=#{shPhone},sh_name=#{shName},sh_responsible=#{shResponsible},sh_address=#{shAddress},sh_type=#{shType},sh_remark=#{shRemark}
		where sh_id=#{shId}
	</update>
	<insert id="insert" parameterType="storeHouse">
		insert into store_house
		(sh_id,sh_name,sh_phone,sh_responsible,sh_address,sh_type,sh_remark)
		values(#{shId},#{shName},#{shPhone},#{shResponsible},#{shAddress},#{shType},#{shRemark})
	</insert>
</mapper>